<footer class="mt-5">
  <div class="bg-dark py-3">
    <div class="container text-white">
      <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
    </div>
  </div>
</footer>

