<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{{title}}</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
    <a href="#" class="btn btn-primary">Main call to action</a>
    <a href="#" class="btn btn-secondary">Secondary action</a>
    </p>
  </div>
</section>





<div class="album">
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="http://place-hoff.com/401/300" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://place-hoff.com/402/300" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://place-hoff.com/403/300" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
  </div>
</div>


